* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satisfy', cursive;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

#first {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("images/stars.png"), url("https://i.pinimg.com/564x/df/44/02/df44029dc844bc08a7352cb2f37ddcbb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  padding-bottom: 8%;
}

.welcome {
  color: white;
  padding-top: 12%;
  padding-bottom: 8%;
  font-family: 'Satisfy', cursive;
}

.des {
  color: white;
  line-height: 2;
  font-family: 'Satisfy', cursive;
}

.des1 {
  font-size: 1.5rem;
  font-family: 'Satisfy', cursive;
  color: white;
}

.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lot {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 8% 3%;
  margin: 15px 2px 20px 0;
  text-align: center;
  background: transparent;
  font-size: 30px;
  color: white;
  font-family: 'Satisfy', cursive;
  letter-spacing: 1px;
  border-radius: 8px;
  z-index: 2;
}

#genbut {
  position: relative;
  width: 50%;
  height: 40%;
  padding: 4% 0;
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  z-index: 3;
}

#genbut:hover {
  background-image: url("images/bgsec.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  color: #f0e6ef;
  font-weight: bold;
  letter-spacing: 1px;
}

.swipedown {
  padding: 6% 0;
  color: white;
  z-index: 5;
}

#down {
  font-size: 50px;
color: white;
  z-index: 5;
}
#down:hover{
  color: #f0e6ef;
  transform: translateY(40px) scale(1.4);
}

/* images of section one */
.broom {
  position: absolute;
  z-index: -1;
  padding-right: 80%;
  padding-top: 15%;
  opacity: 0.8;
  animation: diagonal 3.5s infinite;
}

@keyframes diagonal {
  0% {
    -webkit-transform: rotate(-25deg) scale(1.2) translate(150px, -120px);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1.2) translate(280px, -120px);
  }

  65% {
    -webkit-transform: rotate(-25deg) scale(1.2) translate(780px, -120px);
  }

  100% {
    -webkit-transform: rotate(-25deg) scale(1.2) translate(1000px, -90px);
  }
}

.smoke {
  position: absolute;
  z-index: 1;
  opacity: 0.4;
  animation: zoom 1s infinite;
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(-15deg) scale(1.9);
  }

  50% {
    -webkit-transform: rotate(-15deg) scale(1.8);
  }

  100% {
    -webkit-transform: rotate(-15deg) scale(1.9);
  }
}

.snitch {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  padding-left: 35%;
  top: -5px;
  animation: move 2.5s infinite;
}

@keyframes move {
  0% {
    -webkit-transform: translate(-3px) rotate(5deg) scale(0.9);
  }

  50% {
    -webkit-transform: translateX(-5px) rotate(5deg) scale(1);
  }

  100% {
    -webkit-transform: translateX(2px) rotate(5deg) scale(0.8);
  }
}

/* Second Section */
#second {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("images/bgsectwo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



#checkinput {
  position: relative;
  width: 100%;
  height: 30%;
  padding: 8% 3%;
  margin: 15px 2px 20px 0;
  text-align: center;
  background: transparent;
  font-size: 30px;
  color: white;
  font-family: 'Satisfy', cursive;
  letter-spacing: 1px;
  border-radius: 8px;
  z-index: 3;
}

#checkButton {
  position: relative;
  width: 50%;
  height: 25%;
  padding: 4% 0;
  margin: 1%;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Satisfy', cursive;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  z-index: 3;
}

#checkButton:hover {
  background-image: url("images/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  color: gold;
  font-weight: bold;
  letter-spacing: 1px;
}

#foot {
  height: 20vh;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  top: -1150px;
  z-index: 1000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("images/footer1.jpg");
}
.nearly {
  position: absolute;
  cursor: pointer;
  padding-left: 48%;
 padding-top: 30%;

  z-index: 2;
}

.cloudy{
  position: absolute;
  cursor: pointer;
  padding-left: 87%;
 padding-top: 110px;
 opacity: 0.6;
  z-index: 2;
}
.diag{
    animation: ghost 3.5s infinite;
}

@keyframes ghost {
  0% {
    -webkit-transform: rotate(-23deg) scale(1.2) translate(10px,-0px)  ;
  }

  30% {
    -webkit-transform: rotate(-23deg) scale(1.5) translate(-70px, -150px)    ;
  }

  65% {
    -webkit-transform: rotate(-23deg) scale(1.2) translate(-180px, -325px)   ;
  }

  100% {
    -webkit-transform: rotate(-23deg) scale(1.5) translate(-270px, -650px)   ;
  }
}
.last{

color: white;
padding: 0.25% 2% 0.25% 2%;
text-align: center;
font-size: 1.5rem;
z-index: 100;
}
.face{
  color:  #d6ba4c;
 padding-right: 1%;
 font-size: 2rem;
 z-index: 100;
}
.insta{
  color:  #d6ba4c;
 padding-right: 1%;
 font-size: 2rem;
 z-index: 100;
}
.env{
  color: #d6ba4c;
 padding-right: 1%;
 font-size: 2rem;
 z-index: 100;
}
a:hover i{
  transform: scale(1.4) rotate(25deg);
}
.face:hover{
color: #9bf6ff;

}
.insta:hover{
color: #ff5d8f;

}
.env:hover{
color: #f0e6ef;

}

.rights{
  font-size: 0.75rem;
 color: white;
}
/* RESULT */
#res{
  width: 100vw;
  height: 90vh;
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("images/stars.png"), url("https://i.pinimg.com/564x/df/44/02/df44029dc844bc08a7352cb2f37ddcbb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  padding-bottom: 4% auto;
}
.firstlayer{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("images/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
z-index: -1;

}
.secondlayer{
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("images/quid1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width:70vw;
  padding: 5%;
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.layer1{
  position: absolute;
  z-index: 2;
opacity: 0.9;
  margin-top: 48%;
  margin-right: 85%;
  animation: clouds 3s infinite;
}
.layer2{
  position: absolute;
  z-index: 2;
  margin-top: 48%;
  margin-right: 55%;
  animation: up 3s infinite;
}
.layer3{
  position: absolute;
  z-index: 2;
  margin-top: 48%;
  margin-right: 25%;
  animation: clouds 3s infinite;
}
.layer4{
  position: absolute;
  z-index: 2;
  margin-top: 48%;
  margin-left: 25%;
  animation: clouds 3s infinite;
}
.layer5{
  position: absolute;
  z-index: 2;
  margin-top: 48%;
  margin-left: 55%;
  animation: up 3s infinite;
}
.layer6{
  position: absolute;
  z-index: 2;
  margin-top: 48%;
  margin-left: 85%;
  animation: clouds 3s infinite;
}
@keyframes clouds{
  0%
  {
    transform: scale(1.0) rotate(7deg);
  }
  50%{
    transform:scale(1.4) rotate(7deg);
  }
  100%{
    transform:scale(1.1) rotate(7deg);
  }

}
@keyframes up{
  0%
  {
    transform: scale(1.0) translateY(20px) rotate(7deg);
  }
  50%{
    transform:scale(1.4)translateY(-10px) rotate(7deg);
  }
  100%{
    transform:scale(1.1) translateY(20px) rotate(7deg);
  }
}
#pics{
  height: 30vh;
  width: 12vw;
margin-left: 4%;
background-repeat: no-repeat;
/* display: flex;
flex-direction: column; */
justify-content: center;
align-items: center;
text-align: center;
z-index: 1000;
border-radius: 8px;
box-sizing: border-box;
transform: scale(1.4);



}
.back{
  position: relative;
  width: 120%;
  height: 85%;
  padding: 5% 5%;
  margin: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Satisfy', cursive;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  z-index: 2;
}
.back:hover{
  background-image: url("images/bgsec.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  color: #f0e6ef;
  font-weight: bold;
  letter-spacing: 1px;
}
#welcome{
    font-family: 'Satisfy', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    z-index: 100;
    padding: 15% ;
}
.hat{
  position: absolute;
  padding-right: 170%;
  padding-bottom: 170%;
animation: sorthat 5s infinite;
}
@keyframes sorthat{
  0% {
    -webkit-transform: rotate(-29deg) scale(0.4)   ;
  }

  25% {
    -webkit-transform: rotate(-23deg) scale(0.5)     ;
  }

  50% {
    -webkit-transform: rotate(-29deg) scale(0.4)    ;
  }

  75% {
    -webkit-transform: rotate(-23deg) scale(0.5)    ;
  }
  100% {
    -webkit-transform: rotate(-29deg) scale(0.4)    ;
  }
}
.owl{
  position: absolute;
  padding-left: 48%;
 padding-top: 30%;

  z-index: 2;
  animation: ghost 5s infinite;
}
@keyframes ghost {
  0% {
    -webkit-transform: rotate(-23deg) scale(1.2) translate(80px,-0px)  ;
  }

  30% {
    -webkit-transform: rotate(-23deg) scale(1.5) translate(-320px, -50px)    ;
  }

  65% {
    -webkit-transform: rotate(-23deg) scale(1.2) translate(-540px, -325px)   ;
  }

  100% {
    -webkit-transform: rotate(-23deg) scale(1.5) translate(-770px, -650px)   ;
  }
}
